body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#chat-box {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

#room-options,
#room-form,
#chat-room {
  padding: 20px;
}

#room-options button,
#join-room-button,
#form button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

#room-options button:hover,
#join-room-button:hover,
#form button:hover {
  background-color: #45a049;
}

#room-number-info {
  font-size: 18px;
  margin-bottom: 10px;
}

#messages {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 400px;
  overflow-y: auto;
}

#messages li {
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
}

#form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#m {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

#form button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#room-form,
#chat-room {
  display: none;
}

/* Media Query for Mobile */
@media only screen and (max-width: 600px) {
  #room-options,
  #room-form,
  #chat-room {
    padding: 10px;
  }
}
